.register {
  .register-inner {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
  }
  label {
    line-height: 36px;
    color: #282828;
    input {
      margin: 8px 0;
      outline: none;
      height: 40px;
      border: 1px solid #e6e6e6;
      padding: 0px 10px;
      font-size: 100%;
      line-height: 1.15;
      width: 100%;
    }
  }

  .go-to-login {
    display: flex;
    justify-content: center;

    button {
      margin: 0 15px;
    }
  }
}