body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

html {
  height: 100vh;
}

button, a {
  cursor: pointer;
}

.MuiPickersDay-daySelected {
  background-color: #ffc222 !important;
}